.allChats {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding-bottom: 10px;
}
.chatList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.chatItem {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background 0.2s;
    border-bottom: 1px solid #f0f0f0;
}
.chatItem:hover {
    background-color: #f5f5f5;
}
.chatInfo {
    display: flex;
    align-items: center;
     width: 100%;
}

.profileImg {
    width: 70px;
    height: 70px;
    border-radius: 30%;
    margin-right: 10px;
    object-fit: cover;
    border :1px solid #d9d9d9;
}
.chatDetails {
    flex:1;}
.chatTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chatName {
    font-size: 18px;
    font-weight: bold;
  }
  .chatDate {
    font-size: 14px;
    color: #5785FA
  }
  .lastMessage {
    font-size: 16px;
    color:#666;
    margin-top: 5px;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .noDataChat{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
  }
  .chatroomImg{
    width: 50px;
    height: 50px;
  }
  .noChatsMessage{
    font-size: 16px;
    color: #938f8f;
    text-align: center;
  }
 
.deleteChatBtn {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
    transition: color 0.2s;
    margin-left: 10px;
  }
  
  .deleteChatBtn:hover {
    color: #ff4d4d;
  }
  