.filterOptions {
    display: flex;
    justify-content: flex-end;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
}

.customSelect {
    background-color: white;
    font-size: medium;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    min-width:60px;
    position: relative;
    margin-right: 5px;
}

.customDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.customOption {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
}

.customOption:hover {
    background-color: #e0f7ff;
}
.customSelect::after {
    content: "▼"; 
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    pointer-events: none;
}


.customSelect.open::after {
    transform: translateY(-50%) rotate(180deg);
}

